<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Home Page</title>
</head>
<body>
    <div>
        <h1>Minutes of Meeting Information</h1>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </div>
</body>
</html>