<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>userinfo</title>
    </head>
    <body>
        <h1>mominfo</h1>
            <% for(var i=0; i<info.length; i++) { %>
                <p> <%= info[i].date %> </p>
                <ul>
                    <li> <%= info[i].user %> </li>
                    <li> <%= info[i].mom %> </li>
                </ul>
            <% } %>
        <form action="/info" method="POST">
            <input type="date" name="date">
            <input type="text" name="user">
            <input type="text" name="mom">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>